
    * {
      margin: 0;
      padding: 0;
      font-family: 'Alan Sans', sans-serif;
      box-sizing: border-box;
    }
    .container {
      width: 100%;
      height: 100vh;
      padding: 10px;
      background: linear-gradient(134deg, #280ac2, #6a0260);
    }
    .todoapp {
      width: 100%;
      max-width: 540px;
      background: #fff;
      margin: 100px auto 20px;
      padding: 40px 30px 70px;
      border-radius: 10px;
    }
    .todoapp h2 {
      color: rgb(30, 29, 30);
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .todoapp h2 img {
      width: 30px;
      margin-left: 20px;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgb(157, 177, 157);
      border-radius: 10px;
      padding-left: 20px;
      margin-bottom: 25px;
    }
    input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      padding: 10px;
      font-size: 14px;
    }
    button {
      border: none;
      outline: none;
      padding: 16px 50px;
      background: hsl(140, 100%, 64%);
      color: #fff;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }
    button:hover {
      background: hsl(140, 100%, 54%);
    }
    ul li {
      list-style: none;
      font-size: 17px;
      padding: 12px 8px 12px 50px;
      user-select: none;
      cursor: pointer;
      position: relative;
      transition: 0.3s ease-in-out;
    }
    ul li::before {
      content: "";
      position: absolute;
      height: 28px;
      width: 28px;
      border-radius: 10px;
      background-image: url('checkbox.png');
      background-size: cover;
      background-position: center;
      top: 12px;
      left: 8px;
    }
    ul li.checked {
      color: lightgreen;
      text-decoration: line-through;
    }
    ul li.checked::before {
      background-image: url('complete.png');
    }
    ul li span {
      position: absolute;
      right: 0;
      top: 5px;
      width: 30px;
      height: 30px;
      font-size: 22px;
      color:black;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
    }
    ul li span:hover {
      background: #edeef0;
    }
  
